:root {
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--violet);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    min-height: 100vh;
    color: white;
    font-size: 1.4em;
    line-height: 1.5;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
        
    main {
        margin: 3em 3em 0 3em;
        
        .logo {
            height: 45px;
            max-width: 100%;
        }

        article {
            margin-top: 2em;
            display: flex;

            img {
                max-width: 100%;
            }

            .content {
                display: flex;
                flex: 50%;
                flex-direction: column;
                margin-left: 3em;
                
                p {
                    font-size: 17px;
                    color: #eeeeee;
                }

                button {
                    margin-top:  1em;
                    padding: 16px 0;
                    font-size: 20px;
                    background-color: white;
                    border-radius: 50px;
                    border: none;
                    outline:none;
                    color: var(--violet);
                    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.123);
                    text-decoration: none;
                    text-align: center;
                    display: inline-block;
                    width: 39%;

                    &:hover {
                        background-color: var(--magenta);
                        color: white;
                    }
                }
            }
        }

        .SocialMedia {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            padding: 0;

            a {
                color: white;
                border: 1px solid white;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                margin-left: 10px;

                &:hover {
                    color: var(--magenta);
                    border: 2px solid var(--magenta);
                }
            }
            
        }
    }

    footer {
        .attribution {
            font-size: 14px;
            text-align: center;

            a {
                color: #00252E;
                font-weight: bold;
                text-decoration: none;
            }

            i {
                color: rgb(236, 40, 40);
            }
        }
    }
}


@media (max-width: 1024px) {
    
    body {
        main {
            margin: 2em 3em 0 3em;

            article {
                margin-top: 1.2em;

                .content {
                    flex: 63%;

                    h1 {
                        font-size: 32px;
                    }
                }


            }
        }
    }

}

@media (max-width: 768px) {
    body {
        background-image: url(./images/bg-mobile.svg);
        background-size: cover;

        main {
            margin: 3em 3em 0 3em;

            .logo {
                height: auto;
            }

            article {
                margin-top: 4.5em;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                .content {
                    margin-left: 0;
                    margin-top: 4em;

                    h1 {
                        font-size: 50px;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 24px;
                        line-height: 2;
                    }

                    button {
                        margin-top: 2em;
                        margin-bottom: 5em;
                        width: 60%;
                        margin-left: 20%;
                    }
                }

            }

            .SocialMedia {
                justify-content: center;
            }
        }

        footer {
            margin-top: 1em;
        }
    }

}

@media (max-width: 425px) {
    body {
        background-size: 100% auto;
        
        main {
            margin: 2em 2em 0 2em;

            .logo {
                height: 36px;
            }

            article {
                margin-top: 2em;

                .content {
                    margin-top: 2em;

                    h1 {
                        font-size: 26px;
                    }

                    p {
                        font-size: 16.5px;
                    }

                    button {
                        width: 70%;
                        margin-left: 15%;
                    }
                }

            }

            .SocialMedia {
                justify-content: center;
            }
        }

        footer {
            margin-top: 1em;
        }
    }

}